<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Registrar</title>
  <script src="/static/script.js" defer></script>
</head>
<body>
  <h1>Registro de Novo Usuário</h1>
  <input type="text" id="reg-username" placeholder="Usuário">
  <input type="password" id="reg-password" placeholder="Senha">
  <button onclick="register()">Registrar</button>
  <button onclick="goToLogin()">Voltar para o Login</button> <!-- Botão adicional -->
  <p id="reg-msg"></p>
</body>
</html>
